[submodule "themes/archie"]
	path = themes/archie
	url = https://github.com/athul/archie.git
[submodule "themes/hugo-dynamic-tabs"]
	path = themes/hugo-dynamic-tabs
	url = https://github.com/rvanhorn/hugo-dynamic-tabs
